<!-- Rasa Chat Widget -->
<div id="rasa-chat-widget"
    data-websocket-url="{{ site.rasa_ip_address }}"
    data-primary="#65B4BA"
    data-primary-highlight="#20576a"
    data-initial-payload="Hi!">
</div>
<script src="https://unpkg.com/@rasahq/rasa-chat" type="application/javascript"></script>
<script>
    // Wait for the DOM to be fully loaded
    document.addEventListener('DOMContentLoaded', function () {
        // Get the trigger link and attach a click event listener
        document.getElementById('triggerButtonLink').addEventListener('click', function(event) {
            event.preventDefault(); // Prevent default anchor behavior
            document.querySelector('.css-13y41na').click(); // Trigger the button click
            setTimeout(function() {document.querySelector('.css-1abdig3').style.zIndex = '1'}, 3000);
        });
    });
</script>